.list__paragraph--done {
    text-decoration: line-through;
}

.list__paragraph {
    text-align: left;
    width: 100%;
    margin-left: 10px;
    word-break: break-word;
}

.list {
    list-style: none;
    padding: 5px;
}

.list__element {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    text-align: center;
    padding: 15px 5px;
    border-bottom: 2px solid #ccc;
}

.list__element--hidden {
    display: none;
}

.list__button {
    width: 24px;
    height: 24px;
    border: none;
    color: white;
}

.list__button--remove {
    background-color: red;
    border: none;
    text-decoration: none;
    transition: background-color 0.6s;
}

.list__button--done {
    background-color: green;
    transition: background-color 0.6s;
}

.list__button:hover {
    cursor: pointer;
}

.list__button--done:hover {
    background-color: rgb(11, 216, 11);
}

.list__button--remove:hover {
    background-color: rgb(194, 47, 47);
}

.list__button--done:active {
    background-color: rgb(18, 182, 18);
}